.submit_button_form {
    width: 50%;
    height: 20%;
    background-color: #6CB52D;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
    margin-bottom: 20px;
}

.submit_button_form:active {
    background-color: white;
    color: #6CB52D;
    box-sizing: border-box;
    border: 5px solid #6CB52D;
}

@media (max-width:1020px) {
    .submit_button_form {
        width: 80%;
        height: 15%;
        border-radius: 10px;
    }
}