.menu_txt_side {
    border-bottom: 1px solid #EBF2F2;
    padding-bottom: 10px;
    color: #EBF2F2;
    font-size: 2rem;
    font-weight: 500;
    width: 80%;
    margin-bottom: 0%;
}

.menu_txt_side:hover {
    cursor: pointer;
    color: #6CB52D;
}

.menu_txt_side::after {
    content: '›';
    position: absolute;
    right: 20%;
    transform: rotate(90deg);
    transition: transform 0.3s ease;
    font-size: 2rem;
    color: #EBF2F2;
    font-weight: 300;
}


.rotate-180::after {
    transform: rotate(-90deg);
}